---
import Layout from "../layouts/Layout.astro";
import MicroprintLoad from "../components/MicroprintLoad";
---

<Layout title="Microprint Visualizer">
  <main>
    <MicroprintLoad client:only="react" />
  </main>
</Layout>

<style>
  :root {
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 0;
  }
</style>
