---
import Layout from '../layouts/Layout.astro';
import Microprint from '../components/Microprint';
---

<Layout title="Microprint Visualizer">
	<main>
	<Microprint client:only="react"/>

	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 0;
	}




</style>
