---
import Layout from "../layouts/Layout.astro";
import MicroprintLoadPage from "../reactPages/MicroprintLoadPage";
---
<Layout title="Microprint Visualizer">
  <main>
    <MicroprintLoadPage client:only="react" />
  </main>
</Layout>

<style>
  :root {
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 0;
  }
</style>
